.page-header {
  background-color: map-get($theme-colors, light-blue);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 10vw;
  justify-content: center;
  z-index: -1;

  h1 {
    max-width: 60%;
    z-index: 1;
    color: map-get($theme-colors, primary);

    @media screen and (max-width: 767px) {
      max-width: 75%;
    }

    @media screen and (max-width: 550px) {
      max-width: unset;
    }
  }

  p {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 0;
  }

  svg#Layer_1 {
    position: absolute;
    width: 25vw;
    top: 10px;
    right: 10%;
    opacity: 0.8;
    z-index: 0;

    @media screen and (min-width: 1600px) {
      top: -20px;
    }

    @media screen and (max-width: 1012px) {
      top: 20px;
      width: 40vw;
    }

    @media screen and (max-width: 767px) {
      right: 50%;
      transform: translateX(50%);
      width: 60vw;
      top: -30px;
    }

    @media screen and (max-width: 550px) {
      top: 33%;
    }
  }
}
